/* Write your CSS here */
.about-heading {
  color: #616e7c;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 700;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
