/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.heading {
  color: #616e7c;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 700;
}
